html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Open Sans", sans-serif; color: #333; font-weight: 400; font-size: 14px; line-height: 1.4; min-width: 1200px; }

a { text-decoration: none; }

.l-center { position: relative; margin: 0 auto; padding: 0 20px; max-width: 1920px; *zoom: 1; }
.l-center:after { content: " "; display: table; clear: both; }

.out { margin: 0 0 -40px; min-height: 100%; height: auto !important; height: 100%; }

.push { clear: both; height: 40px; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.header__top { position: relative; z-index: 2; height: 40px; line-height: 40px; background: #3d3d3d; box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }
.header__top .l-center { padding: 0; }
.header__logo { float: left; margin: 9px 0 0 20px; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 277px 20px; -o-background-size: 277px 20px; -webkit-background-size: 277px 20px; background-size: 277px 20px; width: 277px; height: 20px; display: inline-block; }
.ie8 .header__logo { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -706px no-repeat; width: 277px; height: 20px; }
.header__list { *zoom: 1; }
.header__list:after { content: " "; display: table; clear: both; }
.header__list li { float: left; border-right: 1px solid #000; box-shadow: inset -1px 0 0 #4d4d4d; }
.header__list a { display: block; padding: 0 20px; color: #fff; font-size: 14px; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
@media only screen and (max-width: 1400px) { .header__list a { font-size: 12px; padding: 0 15px; } }
.header__list a:hover { color: #ddd; }
.header__list i { vertical-align: middle; margin-right: 10px; }
.header__nav { float: left; }
.header__info { float: right; }
.header__main { background: #ff0024; }
.header__main .l-center { padding: 20px; height: 80px; }
.header__catalog { position: relative; display: block; width: 280px; height: 40px; line-height: 40px; color: #fff; font-size: 18px; font-weight: 700; }
.header__catalog:before { content: ""; position: absolute; top: 50%; right: 15px; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 0 5px 6px 5px; border-color: transparent transparent #fff transparent; }
.header__catalog i { font-size: 25px; margin-right: 18px; vertical-align: middle; }
.header__search { position: absolute; left: 320px; right: 20px; top: 20px; }

.search__input { padding-right: 143px; }
.search__input input { display: block; padding: 0 20px; width: 100%; height: 40px; font-family: "Open Sans", sans-serif; font-weight: 700; height: 40px; background: #fff; color: #333; box-shadow: inset 0 1px 3px rgba(1, 1, 1, 0.5); -moz-transition: box-shadow 0.3s; -o-transition: box-shadow 0.3s; -webkit-transition: box-shadow 0.3s; transition: box-shadow 0.3s; }
.search__input input:-ms-input-placeholder { color: #b2b2b2; }
.search__input input:-moz-placeholder { color: #b2b2b2; }
.search__input input::-moz-placeholder { color: #b2b2b2; }
.search__input input::-webkit-input-placeholder { color: #b2b2b2; }
.search__input input::placeholder { color: #b2b2b2; }
.search__input input:focus { box-shadow: inset 0 1px 3px rgba(1, 1, 1, 0.2); }
.search__btn { position: absolute; top: 0; right: 0; width: 125px; height: 40px; }
.search__btn button { display: block; position: relative; padding-left: 56px; width: 100%; height: 40px; text-align: left; color: #fff; font-family: "Open Sans", sans-serif; font-weight: 400; background: #3d3d3d; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.search__btn button:hover { background: #303030; }
.search__btn button:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; width: 40px; background: #1a1a1a; }
.search__btn button:after { content: ""; position: absolute; top: 11px; left: 11px; display: inline-block; background: url('../img/icons-scfec685771.png') 0 -949px no-repeat; width: 17px; height: 17px; }

.footer { background: #3d3d3d; color: #bbb; }
.footer > .l-center { height: 40px; line-height: 40px; overflow: hidden; }
.footer__meta { float: left; }
.footer__info { float: right; }
.footer__info a { color: #bbb; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.footer__info a:hover { color: #fff; }
.footer__info a:hover span { border-bottom-color: transparent; }
.footer__info span, .footer__info .qb-logo { vertical-align: middle; }
.footer__info span { margin-right: 13px; -moz-transition: border 0.3s; -o-transition: border 0.3s; -webkit-transition: border 0.3s; transition: border 0.3s; border-bottom: 1px solid #bbb; }

.main { margin: 0 auto; position: relative; padding: 0 20px; max-width: 1920px; }
.main__sidebar { position: relative; z-index: 2; float: left; width: 280px; }
.main__content { position: relative; padding: 20px 0 20px 20px; overflow: hidden; }
.main__img { position: absolute; top: 145px; right: 0; }
@media only screen and (max-width: 1600px) { .main__img { display: none; } }

.tabs-content { display: none; }

@font-face { font-family: 'Simple-Line-Icons'; src: url("../fonts/Simple-Line-Icons.eot"); src: url("../fonts/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.woff") format("woff"), url("../fonts/Simple-Line-Icons.ttf") format("truetype"), url("../fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg"); font-weight: normal; font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before { font-family: "Simple-Line-Icons"; content: attr(data-icon); speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users { font-family: "Simple-Line-Icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }

.icon-user-female:before { content: "\e000"; }

.icon-user-follow:before { content: "\e002"; }

.icon-user-following:before { content: "\e003"; }

.icon-user-unfollow:before { content: "\e004"; }

.icon-trophy:before { content: "\e006"; }

.icon-screen-smartphone:before { content: "\e010"; }

.icon-screen-desktop:before { content: "\e011"; }

.icon-plane:before { content: "\e012"; }

.icon-notebook:before { content: "\e013"; }

.icon-moustache:before { content: "\e014"; }

.icon-mouse:before { content: "\e015"; }

.icon-magnet:before { content: "\e016"; }

.icon-energy:before { content: "\e020"; }

.icon-emoticon-smile:before { content: "\e021"; }

.icon-disc:before { content: "\e022"; }

.icon-cursor-move:before { content: "\e023"; }

.icon-crop:before { content: "\e024"; }

.icon-credit-card:before { content: "\e025"; }

.icon-chemistry:before { content: "\e026"; }

.icon-user:before { content: "\e005"; }

.icon-speedometer:before { content: "\e007"; }

.icon-social-youtube:before { content: "\e008"; }

.icon-social-twitter:before { content: "\e009"; }

.icon-social-tumblr:before { content: "\e00a"; }

.icon-social-facebook:before { content: "\e00b"; }

.icon-social-dropbox:before { content: "\e00c"; }

.icon-social-dribbble:before { content: "\e00d"; }

.icon-shield:before { content: "\e00e"; }

.icon-screen-tablet:before { content: "\e00f"; }

.icon-magic-wand:before { content: "\e017"; }

.icon-hourglass:before { content: "\e018"; }

.icon-graduation:before { content: "\e019"; }

.icon-ghost:before { content: "\e01a"; }

.icon-game-controller:before { content: "\e01b"; }

.icon-fire:before { content: "\e01c"; }

.icon-eyeglasses:before { content: "\e01d"; }

.icon-envelope-open:before { content: "\e01e"; }

.icon-envelope-letter:before { content: "\e01f"; }

.icon-bell:before { content: "\e027"; }

.icon-badge:before { content: "\e028"; }

.icon-anchor:before { content: "\e029"; }

.icon-wallet:before { content: "\e02a"; }

.icon-vector:before { content: "\e02b"; }

.icon-speech:before { content: "\e02c"; }

.icon-puzzle:before { content: "\e02d"; }

.icon-printer:before { content: "\e02e"; }

.icon-present:before { content: "\e02f"; }

.icon-playlist:before { content: "\e030"; }

.icon-pin:before { content: "\e031"; }

.icon-picture:before { content: "\e032"; }

.icon-map:before { content: "\e033"; }

.icon-layers:before { content: "\e034"; }

.icon-handbag:before { content: "\e035"; }

.icon-globe-alt:before { content: "\e036"; }

.icon-globe:before { content: "\e037"; }

.icon-frame:before { content: "\e038"; }

.icon-folder-alt:before { content: "\e039"; }

.icon-film:before { content: "\e03a"; }

.icon-feed:before { content: "\e03b"; }

.icon-earphones-alt:before { content: "\e03c"; }

.icon-earphones:before { content: "\e03d"; }

.icon-drop:before { content: "\e03e"; }

.icon-drawer:before { content: "\e03f"; }

.icon-docs:before { content: "\e040"; }

.icon-directions:before { content: "\e041"; }

.icon-direction:before { content: "\e042"; }

.icon-diamond:before { content: "\e043"; }

.icon-cup:before { content: "\e044"; }

.icon-compass:before { content: "\e045"; }

.icon-call-out:before { content: "\e046"; }

.icon-call-in:before { content: "\e047"; }

.icon-call-end:before { content: "\e048"; }

.icon-calculator:before { content: "\e049"; }

.icon-bubbles:before { content: "\e04a"; }

.icon-briefcase:before { content: "\e04b"; }

.icon-book-open:before { content: "\e04c"; }

.icon-basket-loaded:before { content: "\e04d"; }

.icon-basket:before { content: "\e04e"; }

.icon-bag:before { content: "\e04f"; }

.icon-action-undo:before { content: "\e050"; }

.icon-action-redo:before { content: "\e051"; }

.icon-wrench:before { content: "\e052"; }

.icon-umbrella:before { content: "\e053"; }

.icon-trash:before { content: "\e054"; }

.icon-tag:before { content: "\e055"; }

.icon-support:before { content: "\e056"; }

.icon-size-fullscreen:before { content: "\e057"; }

.icon-size-actual:before { content: "\e058"; }

.icon-shuffle:before { content: "\e059"; }

.icon-share-alt:before { content: "\e05a"; }

.icon-share:before { content: "\e05b"; }

.icon-rocket:before { content: "\e05c"; }

.icon-question:before { content: "\e05d"; }

.icon-pie-chart:before { content: "\e05e"; }

.icon-pencil:before { content: "\e05f"; }

.icon-note:before { content: "\e060"; }

.icon-music-tone-alt:before { content: "\e061"; }

.icon-music-tone:before { content: "\e062"; }

.icon-microphone:before { content: "\e063"; }

.icon-loop:before { content: "\e064"; }

.icon-logout:before { content: "\e065"; }

.icon-login:before { content: "\e066"; }

.icon-list:before { content: "\e067"; }

.icon-like:before { content: "\e068"; }

.icon-home:before { content: "\e069"; }

.icon-grid:before { content: "\e06a"; }

.icon-graph:before { content: "\e06b"; }

.icon-equalizer:before { content: "\e06c"; }

.icon-dislike:before { content: "\e06d"; }

.icon-cursor:before { content: "\e06e"; }

.icon-control-start:before { content: "\e06f"; }

.icon-control-rewind:before { content: "\e070"; }

.icon-control-play:before { content: "\e071"; }

.icon-control-pause:before { content: "\e072"; }

.icon-control-forward:before { content: "\e073"; }

.icon-control-end:before { content: "\e074"; }

.icon-calendar:before { content: "\e075"; }

.icon-bulb:before { content: "\e076"; }

.icon-bar-chart:before { content: "\e077"; }

.icon-arrow-up:before { content: "\e078"; }

.icon-arrow-right:before { content: "\e079"; }

.icon-arrow-left:before { content: "\e07a"; }

.icon-arrow-down:before { content: "\e07b"; }

.icon-ban:before { content: "\e07c"; }

.icon-bubble:before { content: "\e07d"; }

.icon-camcorder:before { content: "\e07e"; }

.icon-camera:before { content: "\e07f"; }

.icon-check:before { content: "\e080"; }

.icon-clock:before { content: "\e081"; }

.icon-close:before { content: "\e082"; }

.icon-cloud-download:before { content: "\e083"; }

.icon-cloud-upload:before { content: "\e084"; }

.icon-doc:before { content: "\e085"; }

.icon-envelope:before { content: "\e086"; }

.icon-eye:before { content: "\e087"; }

.icon-flag:before { content: "\e088"; }

.icon-folder:before { content: "\e089"; }

.icon-heart:before { content: "\e08a"; }

.icon-info:before { content: "\e08b"; }

.icon-key:before { content: "\e08c"; }

.icon-link:before { content: "\e08d"; }

.icon-lock:before { content: "\e08e"; }

.icon-lock-open:before { content: "\e08f"; }

.icon-magnifier:before { content: "\e090"; }

.icon-magnifier-add:before { content: "\e091"; }

.icon-magnifier-remove:before { content: "\e092"; }

.icon-paper-clip:before { content: "\e093"; }

.icon-paper-plane:before { content: "\e094"; }

.icon-plus:before { content: "\e095"; }

.icon-pointer:before { content: "\e096"; }

.icon-power:before { content: "\e097"; }

.icon-refresh:before { content: "\e098"; }

.icon-reload:before { content: "\e099"; }

.icon-settings:before { content: "\e09a"; }

.icon-star:before { content: "\e09b"; }

.icon-symbol-female:before { content: "\e09c"; }

.icon-symbol-male:before { content: "\e09d"; }

.icon-target:before { content: "\e09e"; }

.icon-volume-1:before { content: "\e09f"; }

.icon-volume-2:before { content: "\e0a0"; }

.icon-volume-off:before { content: "\e0a1"; }

.icon-users:before { content: "\e001"; }

.qb-logo { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -803px no-repeat; width: 25px; height: 25px; }

.i-logo { background: url("../img/svg/icon-logo.svg") no-repeat 0 0; -moz-background-size: 40px 16px; -o-background-size: 40px 16px; -webkit-background-size: 40px 16px; background-size: 40px 16px; width: 40px; height: 16px; display: inline-block; }
.ie8 .i-logo { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -595px no-repeat; width: 40px; height: 17px; }

.i-login { background: url("../img/svg/login.svg") no-repeat 0 0; -moz-background-size: 25px 18px; -o-background-size: 25px 18px; -webkit-background-size: 25px 18px; background-size: 25px 18px; width: 25px; height: 18px; display: inline-block; }
.ie8 .i-login { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -677px no-repeat; width: 25px; height: 19px; }

.i-cart { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -163px no-repeat; width: 24px; height: 21px; }

.i-pin { background: url("../img/svg/pin.svg") no-repeat 0 0; -moz-background-size: 15px 22px; -o-background-size: 15px 22px; -webkit-background-size: 15px 22px; background-size: 15px 22px; width: 15px; height: 22px; display: inline-block; }
.ie8 .i-pin { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -736px no-repeat; width: 15px; height: 23px; }

.icon-clock { font-size: 20px; color: #ff0024; }

.icon-set { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -976px no-repeat; width: 25px; height: 25px; }

.icon-pricelist { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -769px no-repeat; width: 20px; height: 24px; }

.icon-delivery { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -373px no-repeat; width: 27px; height: 20px; }

.icon-docs-custom { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -403px no-repeat; width: 71px; height: 88px; }

.icon-rub-big { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -838px no-repeat; width: 26px; height: 30px; }

.icon-rub-s { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -904px no-repeat; width: 9px; height: 10px; }

.icon-rub-m { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -878px no-repeat; width: 14px; height: 16px; }

.icon-file { position: relative; background: url("../img/svg/file.svg") no-repeat 0 0; -moz-background-size: 42px 60px; -o-background-size: 42px 60px; -webkit-background-size: 42px 60px; background-size: 42px 60px; width: 42px; height: 60px; display: inline-block; font-weight: 700; font-size: 14px; text-align: center; }
.ie8 .icon-file { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -501px no-repeat; width: 42px; height: 60px; }
.icon-file em { position: absolute; top: 17px; left: 50%; margin-left: -10px; border: 2px solid #fff; width: 20px; height: 20px; border-radius: 50%; line-height: 16px; color: #fff; font-style: normal; }
.icon-file span { position: absolute; bottom: 4px; left: 0; right: 0; text-transform: uppercase; color: #fff; }
.icon-file i { position: absolute; top: 25px; left: 8px; background: url("../img/svg/lines.svg") no-repeat 0 0; -moz-background-size: 26px 10px; -o-background-size: 26px 10px; -webkit-background-size: 26px 10px; background-size: 26px 10px; width: 26px; height: 10px; display: inline-block; font-style: normal; }
.ie8 .icon-file i { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -622px no-repeat; width: 26px; height: 21px; }
.icon-file i:before { content: "*"; position: absolute; top: -15px; left: 0; color: #fff; }

.icon-view-grid { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -571px no-repeat; width: 15px; height: 14px; }

.icon-view-list { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -653px no-repeat; width: 15px; height: 14px; }

.promo { margin-left: -10px; overflow: hidden; }
.promo__col { position: relative; float: left; width: 33.3%; padding-left: 10px; overflow: hidden; }
.promo__col img { width: 100%; height: auto; }
.promo__title { position: absolute; top: 130px; left: 0; right: 0; text-align: center; font-weight: 300; text-transform: uppercase; font-size: 120px; color: #fff; letter-spacing: -0.1px; }
@media only screen and (max-width: 1800px) { .promo__title { font-size: 80px; } }
@media only screen and (max-width: 1366px) { .promo__title { font-size: 60px; } }

.title { overflow: hidden; margin: 12px 0 42px; font-size: 30px; color: #ff0024; font-weight: 700; text-align: center; }
.title span { display: inline-block; position: relative; padding: 0 20px; }
.title span:before, .title span:after { content: ""; position: absolute; top: 22px; height: 2px; width: 3000px; background: #3d3d3d; }
.title span:before { left: -3000px; }
.title span:after { right: -3000px; }

.list-icon { *zoom: 1; }
.list-icon:after { content: " "; display: table; clear: both; }
.list-icon li { float: left; padding: 0 10px; width: 20%; font-size: 21px; font-weight: 700; text-align: center; }
@media only screen and (max-width: 1600px) { .list-icon li { font-size: 18px; } }
@media only screen and (max-width: 1366px) { .list-icon li { font-size: 16px; } }
.list-icon a { display: inline-block; color: #333; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.list-icon a:hover { color: #ff0024; }
.list-icon a span { display: block; margin-bottom: 22px; height: 80px; line-height: 80px; }
.list-icon a span span { display: inline-block; position: relative; }
.list-icon i { font-size: 80px; color: #ff0024; vertical-align: middle; }
.list-icon .icon-docs-custom + .icon-rub-big { bottom: 1px; left: 13px; }
.list-icon .icon-rub-big { position: absolute; bottom: 8px; left: 26px; }
.list-icon .icon-counter { position: absolute; top: -4px; right: 9px; width: 40px; height: 40px; border: 5px solid; box-shadow: 0 0 0 5px #fff; line-height: 30px; text-align: center; font-size: 21px; font-weight: bold; background: #fff; border-radius: 50%; font-style: normal; color: #ff0024; }

.delivery { min-height: 246px; position: relative; }
.delivery__bg { *zoom: 1; margin-bottom: 20px; }
.delivery__bg:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1600px) { .delivery__bg { display: none; } }
.delivery__bg img { float: right; }
.delivery__bg img:first-child { float: left; }
.delivery__bg i { position: absolute; top: 0; bottom: 0; left: 500px; right: 560px; height: 246px; background: url(../img/car2.jpg) 0 0 repeat-x; }
.delivery__info { font-size: 11px; font-weight: 600; }
.delivery__info li { margin-bottom: 5px; }

.list-counter { position: absolute; top: -25px; left: 0; right: 200px; *zoom: 1; text-align: center; font-size: 14px; counter-reset: list3; }
.list-counter:after { content: " "; display: table; clear: both; }
.list-counter > li:before { content: counter(list3); counter-increment: list3; }
@media only screen and (max-width: 1600px) { .list-counter { position: static; margin-bottom: 30px; padding-top: 10px; overflow: hidden; } }
.list-counter li { float: left; padding: 0 4%; width: 33.3%; }
@media only screen and (max-width: 1800px) { .list-counter li { padding: 0 20px; } }
.list-counter li:before { display: block; margin: 0 auto 18px; width: 60px; height: 60px; border-radius: 50%; line-height: 60px; color: #fff; font-weight: 800; text-align: center; font-size: 36px; background: #ff0024; box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.25); }
.list-counter p { margin-bottom: 10px; }
.list-counter p strong { font-weight: 700; }
.list-counter p sup { color: #ff0024; }

.list-counter_static { position: static; margin: 21px 0 0; text-align: left; }
@media only screen and (max-width: 1600px) { .list-counter_static { overflow: visible; } }
.list-counter_static:after { display: none; }
.list-counter_static li { position: relative; float: none; margin-bottom: 30px; padding-left: 75px; width: 100%; min-height: 70px; }
.list-counter_static li:last-child { margin-bottom: 0; }
.list-counter_static li:before { position: absolute; left: 0; top: -21px; margin: 0; }

.row { margin: 0 -10px; *zoom: 1; }
.row:after { content: " "; display: table; clear: both; }
.row_inline { font-size: 0; }
.row_inline .col { display: inline-block; vertical-align: top; font-size: 14px; }

.col { float: left; padding: 0 10px; }
.col_1 { width: 20%; }
.col_14 { width: 25%; }
.col_2 { width: 40%; }
.col_3 { width: 60%; }
.col_4 { width: 80%; }
.col_5 { width: 100%; }

.page-head { position: relative; *zoom: 1; }
.page-head:after { content: " "; display: table; clear: both; }

.page-title { overflow: hidden; margin: -3px 0 21px; padding-right: 200px; font-size: 32px; font-weight: 400; color: #333; }
.page-title span { font-weight: 700; color: #ff0024; }

.page-action { float: right; width: 300px; *zoom: 1; }
.page-action:after { content: " "; display: table; clear: both; }
.page-action .pager { float: right; }

.box { border: 1px solid #ccc; }
.box__in { padding: 27px 40px 40px; }

.form { overflow: hidden; }
.form__col { float: left; margin-left: 20px; width: 39%; }
.form__col:first-child { margin-left: 0; }
@media only screen and (max-width: 1600px) { .form__col { width: 49%; margin-left: 2%; } }

.field { display: block; margin-bottom: 30px; }
.field + .progress-wrap { margin: -5px 0 52px; }
.field__title { display: block; margin-bottom: 12px; min-height: 19px; font-size: 14px; font-weight: 600; }
.field__title sup { color: #ff0024; }
.field__body { display: block; position: relative; min-height: 40px; }
.field__body .icon-check { position: absolute; right: 10px; top: 10px; font-size: 20px; color: #0c0; display: none; pointer-events: none; }
.field__body label.has-error { display: none !important; }

.input { display: block; padding: 0 10px; width: 100%; height: 40px; background: #f7f7f7; box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.5); -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 400; color: #333; }
.input:focus { background: #fff; }
.input.has-error { box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.5), inset 0 0 0 1px #ff0024; }
.input.is-success { box-shadow: inset 0 0 0 1px #0c0; background: #fff; }
.input.is-success + label + .icon-check { display: block; }
.input.is-success + .icon-check { display: block; }

.progress-wrap { position: relative; }
.progress-wrap__label { position: absolute; top: 100%; margin-top: 5px; font-weight: 600; font-size: 12px; }

.progress { position: relative; height: 10px; background: #f7f7f7; border-radius: 5px; }

.progress-bar { height: 10px; border-radius: 5px; -moz-transition: width 0.3s, background 0.3s; -o-transition: width 0.3s, background 0.3s; -webkit-transition: width 0.3s, background 0.3s; transition: width 0.3s, background 0.3s; }
.progress-bar-danger { background: #ff0024; }
.progress-bar-warning { background: #ff8400; }
.progress-bar-success { background: #0c0; }

.password-verdict { position: absolute; top: 100%; right: 0; margin-top: 5px; font-weight: 600; font-size: 12px; }

.captcha { position: relative; }
.captcha__img { width: 180px; height: 40px; border: 1px solid #000; overflow: hidden; }
.captcha__img img { max-width: 100%; }
.captcha__input { position: absolute; top: 0; right: 0; left: 200px; }

.checkbox { position: relative; display: inline-block; font-size: 14px; font-weight: 400; cursor: pointer; }
.checkbox + .btn { margin-top: 22px; }
.checkbox input { position: absolute; z-index: 2; opacity: 0; }
.checkbox input:checked + span i:before { display: block; }
.checkbox span { display: block; position: relative; padding-left: 30px; }
.checkbox span i { position: absolute; top: 0; left: 0; width: 20px; height: 20px; background: #f7f7f7; box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.5); }
.checkbox span i:before { content: ""; position: absolute; top: 4px; left: 3px; display: inline-block; background: url('../img/icons-scfec685771.png') 0 -194px no-repeat; width: 15px; height: 12px; display: none; }

.btn { display: inline-block; padding: 0 52px; height: 40px; background: #ff0024; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; font-size: 14px; font-family: "Open Sans", sans-serif; font-weight: 700; color: #fff; }
.btn:hover { background: #bc0203; }
.btn:active { background: #a30203; }
.btn_small { height: 38px; }
.btn_dark { background: #3d3d3d; }
.btn_dark:hover { background: #000; }
.btn_dark.is-active { background: #ff0024; }
.btn .icon-basket { font-size: 25px; vertical-align: middle; }
.btn_basket { padding: 0 42px; }
.btn_sort { padding: 0; height: 40px; width: 40px; line-height: 40px; text-align: center; }
.btn_sort i { vertical-align: middle; }
.btn_width { display: block; padding: 0 20px; width: 100%; text-align: center; }

a.btn { line-height: 40px; }

a.btn_small { padding: 0 33px; line-height: 38px; }

.cats-wrap { overflow: hidden; margin: -10px -10px 0 -10px; }

.cat { float: left; width: 20%; padding: 10px; font-size: 18px; }
@media only screen and (max-width: 1600px) { .cat { width: 25%; font-size: 16px; } }
.cat__in { position: relative; display: block; border: 1px solid #ccc; height: 260px; overflow: hidden; color: #ff0024; -moz-transition: color 0.3s, border 0.3s; -o-transition: color 0.3s, border 0.3s; -webkit-transition: color 0.3s, border 0.3s; transition: color 0.3s, border 0.3s; }
.cat__in:hover { border-color: #ff0024; color: #333; }
.cat__img { text-align: center; }
.cat__img img { max-width: 100%; }
.cat__title { position: absolute; bottom: 0; left: 0; right: 0; padding: 20px; min-height: 100px; background: #fff; font-weight: 400; line-height: 1.1; }
.cat .icon-camera { display: inline-block; margin: 40px 0 0; font-size: 80px; color: #ccc; }

.pager a { float: left; margin-left: -1px; min-width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 14px; font-weight: 700; color: #333; border: 1px solid #ccc; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.pager a:hover { background: #f7f7f7; }
.pager a.is-active { color: #ff0024; background: #f7f7f7; }
.pager a:last-child { min-width: 60px; }

.accord { border: 1px solid #ccc; margin-bottom: -1px; }
.accord.is-open .accord__title { color: #ff0024; pointer-events: none; }
.accord.is-open .accord__title:after { -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
.accord__title { position: relative; padding: 17px 53px 17px 20px; font-size: 18px; color: #333; cursor: pointer; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.accord__title:hover { color: #ff0024; }
.accord__title:hover:after { will-change: transform; }
.accord__title:after { content: ""; position: absolute; top: 50%; right: 20px; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: #ff0024 transparent transparent transparent; }
.accord__body { display: none; border-top: 1px solid #ccc; }
.accord__body .download:first-child { border: 0; }

.download { display: table; width: 100%; border-top: 1px solid #ccc; font-size: 14px; font-weight: 400; color: #333; }
.download_big { border: 1px solid #ccc; margin-bottom: -1px; font-size: 18px; }
.download_big .download__main { padding: 18px 20px; }
.download__main, .download__action { display: table-cell; vertical-align: middle; }
.download__main { padding: 11px 20px; }
.download__main a { color: #333; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.download__main a:hover { color: #ff0024; }
.download__main span { display: inline-block; margin-right: 4px; color: #999; font-weight: 700; font-size: 18px; }
.download__action { text-align: right; padding-right: 145px; position: relative; }
.download__action .btn { position: absolute; top: 0; bottom: 0; right: 0; padding: 0; text-align: center; width: 125px; height: 100%; line-height: 1; text-align: center; font-size: 0; }
.download__action .btn:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.download__action .btn span { vertical-align: middle; padding: 0; font-size: 14px; color: #fff; }
.download__info { padding-right: 20px; font-size: 12px; font-weight: 700; color: #999; }

.tabs { margin: 20px 0 0; font-size: 0; counter-reset: listtabs; }
.tabs > li:before { content: counter(listtabs); counter-increment: listtabs; }
.tabs__item { position: relative; display: inline-block; margin: 0 20px 20px 0; vertical-align: top; width: 300px; font-size: 12px; font-weight: 700; text-transform: uppercase; background: #3d3d3d; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.tabs__item:before { position: absolute; top: 50%; left: 20px; margin-top: -15px; border: 2px solid #fff; font-size: 15px; width: 30px; height: 30px; border-radius: 50%; text-align: center; line-height: 26px; color: #fff; }
.tabs__item:hover { background: #000; }
.tabs__item.is-active { background: #ff0024; }
.tabs__link { display: block; padding: 14px 30px 14px 60px; color: #fff; }

.tabs_small .tabs__item { margin: 0; font-size: 14px; text-transform: none; width: auto; }
.tabs_small .tabs__item:before { display: none; }
.tabs_small .tabs__link { padding: 0 65px; text-align: center; height: 40px; line-height: 40px; }

.tabs_table { display: table; margin: 0 0 20px; table-layout: fixed; width: 100%; }
.tabs_table .tabs__item { display: table-cell; vertical-align: middle; width: auto; }
.tabs_table .tabs__link { padding: 0; }

.file-wrap { float: left; width: 300px; margin-right: 20px; }

.file { display: inline-block; margin: 15px 0; vertical-align: top; position: relative; font-size: 18px; font-weight: 400; }
.file:hover .file__name { color: #bc0203; }
.file .icon-file, .file__main { display: inline-block; padding-left: 12px; vertical-align: middle; }
.file__name { display: block; color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.file__info { color: #999; }

.cols-wrap { *zoom: 1; }
.cols-wrap:after { content: " "; display: table; clear: both; }

.col-left { float: left; }
@media only screen and (max-width: 1600px) { .col-left { float: none; } }

.col-right { float: right; }
@media only screen and (max-width: 1600px) { .col-right { float: none; } }

.col-big { float: left; width: 39%; margin-left: 20px; }
@media only screen and (max-width: 1600px) { .col-big { width: 49%; margin-left: 2%; } }
.col-big:first-child { margin-left: 0; }
@media only screen and (max-width: 1600px) { .col-big:first-child { margin-left: 0; } }

.order-catalog { position: relative; width: 300px; margin-bottom: 15px; }
.order-catalog__in { position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: center; }
.order-catalog .icon-envelope-letter { margin-top: 20px; display: inline-block; font-size: 60px; color: #ff0024; }
.order-catalog__link { position: absolute; left: 65px; right: 65px; bottom: 23px; line-height: 1.1; }
.order-catalog__link a { font-size: 18px; color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.order-catalog__link a:hover { color: #bc0203; }

.table-scroll { margin: 0 0 20px; width: 100%; overflow-x: auto; }

.table { border: 1px solid #ccc; font-size: 12px; width: 100%; font-weight: 400; line-height: 1.7; }
.table_center { text-align: center; }
.table_center .prod-item { text-align: left; }
.table thead { font-size: 12px; text-transform: uppercase; font-weight: 700; font-weight: normal; color: #ccc; }
.table thead th { padding: 11px 20px; }
.table thead .to-left { text-align: left; }
.table tbody tr { -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.table tbody tr:hover { background: #f7f7f7; }
.table tbody td { padding: 18px 20px; vertical-align: middle; border-top: 1px solid #ccc; }
.table tbody td strong { text-transform: uppercase; }
.table__title { font-weight: 700; }
.table .icon-camera { font-size: 40px; color: #ccc; }

.table_order { font-size: 16px; white-space: nowrap; }
.table_order tbody tr:hover { background: none; }
.table_order tbody tr:first-child td { padding-top: 18px; }
.table_order tbody tr:last-child td { padding-bottom: 18px; }
.table_order tbody td { border: 0; padding: 0 80px 0 20px; }
.table_order tbody td:first-child { width: 70%; }
.table_order tbody td:last-child { text-align: right; }

.prod-item { font-size: 0; }
.prod-item__img, .prod-item__main { display: inline-block; vertical-align: middle; }
.prod-item__img { max-width: 120px; padding-right: 10px; }
.prod-item__img img { max-width: 100%; }
.prod-item__main span { display: block; color: #ccc; font-size: 12px; font-weight: 700; }
.prod-item__main a { color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; font-size: 18px; }
.prod-item__main a:hover { color: #bc0203; }
.prod-item__main a span { display: inline; padding: 0 3px; margin-right: 4px; font-weight: 400; font-size: 18px; background: #ff0024; color: #fff; }

.price { line-height: 1; white-space: nowrap; }
.price__val { font-size: 21px; font-weight: 700; color: #333; }
.price__val .icon-rub { margin-left: 3px; }
.price__val .icon-rub-s, .price__val .icon-rub-m { vertical-align: top; }
.price__val .icon-rub-m { margin: 5px 0 0 3px; }
.price__val .icon-rub-s { margin: 3px 0 0 3px; }
.price__title { font-size: 12px; }
.price_small .price__val { font-weight: 400; }
.price_big .price__val { font-size: 30px; }
.price_red .price__val { color: #ff0024; }

.number { position: relative; display: inline-block; border: 1px solid #ccc; width: 146px; font-size: 0; white-space: nowrap; }
.number__input { display: block; padding: 0 43px; height: 38px; width: 100%; text-align: center; font-size: 21px; background: #fff; font-weight: 700; font-family: "Open Sans", sans-serif; }
.number__plus, .number__minus { position: absolute; top: 0; width: 38px; height: 38px; color: #fff; background: #fff; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.number__plus:hover, .number__minus:hover { background: #fdfdfd; }
.number__plus:active, .number__minus:active { background: #f7f7f7; }
.number__plus:before, .number__minus:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -1px 0 0 -7px; width: 14px; height: 2px; background: #ff0024; }
.number__minus { left: 0; border-right: 1px solid #ccc; }
.number__plus { right: 0; border-left: 1px solid #ccc; }
.number__plus:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -7px 0 0 -1px; width: 2px; height: 14px; background: #ff0024; }

.btn-del { display: inline-block; width: 40px; height: 40px; background: #ff0024; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.btn-del:hover { background: #bc0203; }
.btn-del:after { content: ""; display: inline-block; vertical-align: middle; display: inline-block; background: url('../img/icons-scfec685771.png') 0 -348px no-repeat; width: 15px; height: 15px; }

.note-text { position: relative; padding: 20px 0 0 75px; font-size: 12px; font-weight: 400; color: #999; }
.note-text:before { content: ""; position: absolute; top: 0; left: 75px; height: 1px; width: 230px; background: #ccc; }

.table-title { margin: 0 0 20px; font-size: 18px; color: #3d3d3d; }

.table-info { width: 100%; color: #3d3d3d; }
.table-info_small { width: 74%; }
@media only screen and (max-width: 1600px) { .table-info_small { width: 100%; } }
.table-info th { border-bottom: 1px solid #ff0024; padding: 10px 0; font-size: 14px; font-weight: 700; text-align: left; }
.table-info td { padding: 10px 0; border-bottom: 1px solid #ccc; }

.toolbar { display: table; width: 100%; margin: 0 0 20px; height: 40px; table-layout: fixed; }
.toolbar__left { width: 370px; }
.toolbar__left .tabs { margin: 0; }
.toolbar__left .tabs__link { width: 185px; padding: 0; }
.toolbar__left, .toolbar__center, .toolbar__right { display: table-cell; vertical-align: middle; }
.toolbar__center { border: 1px solid #ccc; }
.toolbar__right { text-align: right; width: 80px; }

.sort-box { text-align: right; font-size: 0; white-space: nowrap; }
.sort-box__title { display: inline-block; vertical-align: middle; margin-right: 10px; font-size: 12px; text-transform: uppercase; font-weight: 700; color: #bbb; }

.sort { display: inline-block; vertical-align: middle; margin-right: -1px; min-width: 97px; text-align: left; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.sort:hover .sort__main, .sort.is-active .sort__main { color: #ff0024; }
.sort__main { cursor: pointer; height: 38px; line-height: 38px; padding: 0 20px; font-size: 14px; color: #3d3d3d; font-weight: 700; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.sort__main span { display: inline-block; position: relative; }
.sort__main span:after, .sort__main span:before { content: ""; position: absolute; right: -20px; }
.sort__main span:before { top: 13px; width: 0px; height: 0px; border-style: solid; border-width: 0 5px 5px 5px; border-color: transparent transparent #999 transparent; }
.sort__main span:after { bottom: 13px; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #999 transparent transparent transparent; }

.items-wrap { margin-right: -4px; *zoom: 1; }
.items-wrap:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1600px) { .items-wrap { margin-right: -3px; } }
@media only screen and (max-width: 1400px) { .items-wrap { margin-right: -2px; } }

.item { position: relative; float: left; margin: 0 -1px -1px 0; border: 1px solid #ccc; padding: 0 20px 20px 20px; width: 20%; height: 420px; overflow: hidden; }
@media only screen and (max-width: 1600px) { .item { width: 25%; } }
@media only screen and (max-width: 1400px) { .item { width: 33.3%; } }
.item_back { display: block; padding-top: 20px; background: #f7f7f7; color: #3d3d3d; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.item_back:hover { color: #bc0203; }
.item_back .item__main { height: 243px; text-align: center; font-size: 0; background: none; white-space: nowrap; }
.item_back .item__main:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.item_back .item__main span { display: inline-block; vertical-align: middle; line-height: 1.1; font-size: 30px; position: relative; padding-left: 90px; text-align: left; white-space: normal; }
.item_back .item__main span:before { content: ""; position: absolute; top: 50%; left: 0; margin-top: -72px; background: url("../img/svg/arr-back.svg") no-repeat 0 0; -moz-background-size: 89px 153px; -o-background-size: 89px 153px; -webkit-background-size: 89px 153px; background-size: 89px 153px; width: 89px; height: 153px; display: inline-block; }
.ie8 .item_back .item__main span:before { display: inline-block; background: url('../img/icons-scfec685771.png') 0 0 no-repeat; width: 90px; height: 153px; }
.item__img a { display: block; text-align: center; }
.item__img img { max-width: 100%; height: auto; }
.item__img .icon-camera { display: inline-block; margin-top: 35px; font-size: 80px; color: #bbb; }
.item__main { position: absolute; bottom: 20px; left: 20px; right: 20px; background: #fff; }
.item__meta { display: table; margin-bottom: 10px; width: 100%; }
.item__meta span, .item__meta strong { display: table-cell; }
.item__meta span { color: #ccc; font-size: 12px; font-weight: 700; }
.item__meta strong { text-align: right; text-transform: uppercase; }
.item__title { font-size: 18px; line-height: 1.1; }
.item__title a { color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.item__title a:hover { color: #3d3d3d; }
.item__action { margin-top: 22px; border-top: 1px solid #ccc; padding-top: 20px; *zoom: 1; }
.item__action:after { content: " "; display: table; clear: both; }
.item__action .wrap { margin-top: 20px; }
.item__action .wrap:first-child { margin-top: 0; }
.item__action .number { width: 100%; }
.item__left { float: left; padding-right: 20px; width: 60%; }
.item__right { overflow: hidden; }

.contacts { margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 20px; }

.map__in { height: 620px; }
.map .gm-style-iw div { overflow: visible !important; }
.map .gm-style-iw + div { display: none; }

.map-window { color: #3d3d3d; font-size: 14px; }
.map-window__head { background: #f7f7f7; padding: 22px 20px; margin: -8px -37px 0 -14px; }
.map-window__head strong { display: block; font-weight: 700; }
.map-window__body { margin: -8px -37px 0 -14px; padding: 22px 20px 12px; }
.map-window__body a { color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.map-window__body a:hover { color: #bc0203; }

.address { margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 10px; color: #3d3d3d; }
.address__title { margin-bottom: 24px; font-size: 20px; font-weight: 400; }
.address__text { margin-bottom: 7px; font-size: 16px; line-height: 1.25; }
.address__info { font-size: 14px; }
.address__info li { display: inline-block; margin-left: 17px; vertical-align: middle; }
.address__info li:first-child { margin-left: 0; }
.address__info a { color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.address__info a:hover { color: #bc0203; }
.address__info a i { display: inline-block; margin-right: 4px; font-size: 20px; vertical-align: middle; color: #3d3d3d; }

.details { font-size: 14px; }
.details__title { margin-bottom: 20px; font-size: 18px; }
.details__list { margin-bottom: 20px; }

.select { position: relative; margin-bottom: 38px; }
.select__main { position: relative; border: 1px solid #ccc; padding: 0 40px 0 20px; height: 40px; line-height: 40px; font-size: 14px; font-weight: 700; color: #ff0024; }
.select__main:after { content: ""; position: absolute; top: 50%; right: 15px; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: #ff0024 transparent transparent transparent; }
.select select { position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; max-height: 200px; }

.contact { font-size: 14px; margin-bottom: 20px; }
.contact a { color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.contact a:hover { color: #bc0203; }

.nav { counter-reset: list1; }
.nav > li { margin-bottom: 1px; position: relative; min-height: 90px; background: #3d3d3d; font-weight: 700; color: #fff; text-align: center; font-size: 0; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.nav > li:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.nav > li:hover { background: #303030; }
.nav > li:before { content: counter(list1); position: absolute; top: 30px; left: 9px; border: 2px solid #fff; font-size: 15px; width: 30px; height: 30px; border-radius: 50%; text-align: center; line-height: 26px; counter-increment: list1; }
.nav > li.is-open { background: #ff0024; }
.nav > li.is-open > a { pointer-events: none; }
.nav > li.is-open > a:after { -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
.nav > li > a { display: inline-block; vertical-align: middle; line-height: 1.4; font-size: 16px; letter-spacing: -0.1px; }
.nav > li > a:hover:after { will-change: transform; }
.nav > li > a:after { content: ""; position: absolute; right: 15px; top: 50%; margin-top: 0; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: #fff transparent transparent transparent; -moz-transition: -moz-transform 0.3s; -o-transition: -o-transform 0.3s; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; }
.nav a { display: block; position: relative; padding: 12px 35px 12px 55px; color: #fff; text-align: left; }
.nav ol { display: none; counter-reset: list2; background: #bc0203; font-size: 14px; font-weight: 400; }
.nav ol li { position: relative; border-top: 1px solid #960202; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.nav ol li:hover { background: #a30203; }
.nav ol li:first-child { border-top: 0; }
.nav ol li:before { content: ""; position: absolute; left: 14px; top: 6px; font-size: 16px; font-weight: 700; color: rgba(255, 255, 255, 0.3); counter-increment: list2; content: counter(list1) "." counter(list2) ". "; }
.nav ol a { padding-top: 6px; min-height: 50px; padding-bottom: 6px; }

.promo-link { display: block; margin: 20px 0; position: relative; padding-left: 55px; height: 70px; line-height: 70px; font-size: 16px; font-weight: 400; color: #fff; background: #3d3d3d; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.promo-link:hover { background: #333; }
.promo-link.is-active { background: #ff0024; }
.promo-link span { position: absolute; left: 0; right: 0; bottom: 0; width: 55px; text-align: center; text-align: center; font-size: 0; }
.promo-link span:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.promo-link i { vertical-align: middle; }

.overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 19; padding: 50px; background: rgba(51, 51, 51, 0.7); overflow-y: auto; }

.popup { display: none; position: fixed; top: 140px; left: 50%; margin-left: -310px; z-index: 20; width: 620px; background: #fff; }
.popup:hover .popup__close:before { will-change: opacity; }
.popup a { color: #ff0024; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; text-decoration: underline; }
.popup a:hover { color: #bc0203; }
.popup a:hover { text-decoration: none; }
.popup__inner { padding: 0 40px; }
.popup__head { padding: 28px 100px 28px 40px; font-size: 32px; background: #f7f7f7; }
.popup__body { padding: 30px 0; }
.popup__body .btn { margin-bottom: 20px; }
.popup__footer { padding: 40px 0; border-top: 1px solid #ccc; }
.popup__close { position: absolute; right: 40px; top: 40px; background: url("../img/svg/close.svg") no-repeat 0 0; -moz-background-size: 25px 25px; -o-background-size: 25px 25px; -webkit-background-size: 25px 25px; background-size: 25px 25px; width: 25px; height: 25px; display: inline-block; }
.ie8 .popup__close { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -283px no-repeat; width: 25px; height: 25px; }
.popup__close:before { content: ""; position: absolute; top: 0; left: 0; background: url("../img/svg/close-red.svg") no-repeat 0 0; -moz-background-size: 25px 25px; -o-background-size: 25px 25px; -webkit-background-size: 25px 25px; background-size: 25px 25px; width: 25px; height: 25px; display: inline-block; opacity: 0; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }
.ie8 .popup__close:before { display: inline-block; background: url('../img/icons-scfec685771.png') 0 -248px no-repeat; width: 25px; height: 25px; }
.popup__close:hover:before { opacity: 1; }
