=font
	font-family: 'Open Sans', sans-serif
=light
	font-weight: 300
=reg
	font-weight: 400 
=sbold
	font-weight: 600 
=bold
	font-weight: 700
=ebold
	font-weight: 800
	
=arr-t
	+arr(10,6,#fff,t)
=arr-b
	+arr(10,6,#fff,b)
=link
	color: $red
	+tr(color .3s)
	&:hover
		color: $red_d 
		
$red: #ff0024
$red_d: #bc0203
$black: #3d3d3d
$text: #333
$gray: #bbb
$gray_d: #999
$border: #ccc
$green: #0c0
$light: #f7f7f7
body
	+font
	color: $text
	+reg
	font-size: 14px 
	line-height: 1.4
	min-width: 1200px
a
	text-decoration: none
.link
	+link
	text-decoration: underline
	&:hover
		text-decoration: none
.l-center
	position: relative
	margin: 0 auto
	padding: 0 20px 
	max-width: 1920px 
	+clr
.out
	margin: 0 0 -40px
	min-height: 100%
	height: auto !important
	height: 100%
.push
	clear: both
	height: 40px
.wrap
	+clr
// common blocks      

.header
	&__top
		position: relative
		z-index: 2 
		height: 40px
		line-height: 40px
		background: $black 
		box-shadow: 0 0 5px rgba(#000,.7) 
		.l-center
			padding: 0
			
	&__logo
		float: left
		margin: 9px 0 0 20px 
		+svg(logo,277,20)
	&__list	
		+clr
		li
			float: left
			border-right: 1px solid #000
			box-shadow: inset -1px 0 0 #4d4d4d  
		a
			display: block
			padding: 0 20px 
			color: #fff
			font-size: 14px 
			+tr(color .3s)
			+r(1400)
				font-size: 12px
				padding: 0 15px 
			&:hover
				color: #ddd 
		i
			vertical-align: middle
			margin-right: 10px
	&__nav
		float: left
	&__info
		float: right
	&__main
		background: $red 
		.l-center
			padding: 20px 
			height: 80px
	&__catalog
		position: relative
		display: block
		width: 280px
		height: 40px
		line-height: 40px
		color: #fff
		font-size: 18px
		+bold
		&:before
			content: ""
			position: absolute
			top: 50%
			right: 15px
			margin-top: -3px
			+arr-t 
		i
			font-size: 25px
			margin-right: 18px
			vertical-align: middle
	&__search
		position: absolute
		left: 320px
		right: 20px
		top: 20px
.search
	&__input
		padding-right: 143px
		input
			display: block
			padding: 0 20px 
			width: 100%
			height: 40px
			+font
			+bold
			height: 40px
			background: #fff
			color: $text 
			box-shadow: inset 0 1px 3px rgba(1, 1, 1, 0.5)
			+tr(box-shadow .3s)
			+placeholder
				color: #b2b2b2  
			&:focus
				box-shadow: inset 0 1px 3px rgba(1, 1, 1, 0.2)
	&__btn
		position: absolute
		top: 0
		right: 0
		width: 125px
		height: 40px
		button
			display: block
			position: relative
			padding-left: 56px
			width: 100%
			height: 40px
			text-align: left
			color: #fff 
			+font
			+reg 
			background: $black 
			+tr(background .3s)
			&:hover
				background: darken($black, 5%)
			&:before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				left: 0
				width: 40px
				background: #1a1a1a  
			&:after
				content: ""
				position: absolute
				top: 11px
				left: 11px
				+s(search) 
.footer
	background: $black
	color: $gray
	> .l-center
		height: 40px
		line-height: 40px
		overflow: hidden
	&__meta
		float: left
	&__info
		float: right
		a
			color: $gray
			+tr(color .3s)
			&:hover
				color: #fff
				span
					border-bottom-color: transparent 
		span, 
		.qb-logo
			vertical-align: middle
		span
			margin-right: 13px
			+tr(border .3s)
			border-bottom: 1px solid $gray
			
.main
	margin: 0 auto 
	position: relative
	padding: 0 20px
	max-width: 1920px
	&__sidebar
		position: relative
		z-index: 2
		float: left
		width: 280px
	&__content
		position: relative
		padding: 20px 0 20px 20px 
		overflow: hidden
	&__img
		position: absolute
		top: 145px
		right: 0
		+r(1600)
			display: none
.tabs-content
	display: none		











































































