.row
	margin: 0 -10px
	+clr 
	
	&_inline
		font-size: 0
		.col
			display: inline-block
			vertical-align: top
			font-size: 14px
.col
	float: left
	padding: 0 10px
	&_1
		width: 20%
	&_14
		width: 25%
	&_12
		width: 50%
	&_13
		width: 33.3%
	&_2
		width: 40%
	&_23
		width: 66.6%
	&_3
		width: 60%
	&_4
		width: 80%
	&_5
		width: 100%
.page-head
	position: relative
	+clr
.page-title
	overflow: hidden
	margin: -3px 0 21px
	padding-right: 200px
	font-size: 32px
	+reg
	color: $text 
	span
		+bold
		color: $red 
.page-action
	float: right
	width: 300px
	+clr
	.pager
		float: right
.box
	border: 1px solid $border
	&__in
		padding: 27px 40px 40px 
	&_small
		.box__in
			padding: 20px 
	&_mb
		margin-bottom: 20px
.form
	overflow: hidden
	&__col
		float: left
		margin-left: 20px
		width: 39%
		&:first-child
			margin-left: 0
		+r(1600)
			width: 49%
			margin-left: 2%
.field-title
	margin-bottom: 20px
	font-size: 16px
	+bold
	color: $black 
.field
	display: block
	margin-bottom: 30px
	+ .progress-wrap
		margin: -5px 0 52px 
	&__title
		display: block
		margin-bottom: 12px
		min-height: 19px
		font-size: 14px
		+sbold
		sup
			color: $red 
	&__body
		display: block
		position: relative
		min-height: 40px
		.icon-check
			position: absolute
			right: 10px
			top: 10px
			font-size: 20px
			color: $green 
			display: none
			pointer-events: none
		label
			&.has-error
				display: none !important
.field_single
	margin-bottom: 0		 
.input
	display: block
	padding: 0 10px 
	width: 100%
	height: 40px
	background: $light
	box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.5)
	+tr(background .2s)
	font-size: 14px
	+font
	+reg
	color: $text  
	&_textarea
		padding: 10px 
		height: 160px
		resize: none
		box-shadow: none
		border: 1px solid $border
		+ .file-include
			margin-top: -1px
	&:focus
		background: #fff 
	&.has-error
		box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.5),  inset 0 0 0 1px $red
	&.is-success
		box-shadow: inset 0 0 0 1px $green
		background: #fff 
		+ label
			+ .icon-check
				display: block
		+ .icon-check
			display: block
.progress-wrap
	position: relative
	&__label
		position: absolute
		top: 100%
		margin-top: 5px
		+sbold
		font-size: 12px 
.progress
	position: relative
	height: 10px
	background: $light
	border-radius: 5px
.progress-bar
	height: 10px
	border-radius: 5px
	+transition(width .3s, background .3s)
	&-danger	
		background: $red
	&-warning
		background: #ff8400
	&-success
		background: $green
.password-verdict
	position: absolute
	top: 100%
	right: 0
	margin-top: 5px
	+sbold
	font-size: 12px 

.captcha
	position: relative
	&__img
		width: 180px
		height: 40px
		border: 1px solid #000
		overflow: hidden
		img
			max-width: 100%
	&__input
		position: absolute
		top: 0
		right: 0
		left: 200px
.checkbox
	position: relative
	display: inline-block
	font-size: 14px
	+reg
	cursor: pointer
	+ .btn
		margin-top: 22px
	input
		position: absolute
		z-index: 2
		opacity: 0
		&:checked
			+ span
				i
					&:before
						display: block
	span
		display: block
		position: relative
		padding-left: 30px
		i
			position: absolute
			top: 0
			left: 0
			width: 20px
			height: 20px
			background: $light
			box-shadow: inset 0 0 3px rgba(1, 1, 1, 0.5)
			&:before
				content: ""
				position: absolute
				top: 4px
				left: 3px
				+s(check) 
				display: none
			
.checkbox-group
	margin: 30px 0
.checkbox_simple
	display: block
	cursor: default
	span
		i
			background: none
			box-shadow: none
			&:before
				display: block
	&.is-inactive
		span
			color: $gray_d 
			i
				&:before
					display: none
.btn-wrap
	text-align: right
	.btn
		min-width: 300px
		text-align: center
.btn
	display: inline-block
	padding: 0 52px 
	height: 40px
	background: $red
	+tr(background .3s)
	font-size: 14px
	+font
	+bold
	color: #fff 
	&:hover
		background: $red_d
	&:active
		background: darken($red_d, 5%)
	&_small
		height: 38px
	&_dark
		background: $black
		&:hover
			background: #000 
		&.is-active
			background: $red 
	.icon-basket
		font-size: 25px
		vertical-align: middle
	&_basket
		padding: 0 42px 
	&_sort
		padding: 0
		height: 40px
		width: 40px
		line-height: 40px
		text-align: center
		i
			vertical-align: middle
	&_width
		display: block
		padding: 0 20px 
		width: 100%
		text-align: center
a.btn
	line-height: 40px
a.btn_small
	padding: 0 33px 
	line-height: 38px

.cats-wrap
	overflow: hidden
	margin: -10px -10px 0 -10px 
.cat
	float: left
	width: 20%
	padding: 10px
	font-size: 18px
	+r(1600)
		width: 25%
		font-size: 16px
	&__in
		position: relative
		display: block
		border: 1px solid $border
		height: 260px
		overflow: hidden
		color: $red
		+transition(color .3s, border .3s)
		&:hover
			border-color: $red
			color: $text  
	&__img
		text-align: center
		img
			max-width: 100%
	&__title
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 20px 
		min-height: 100px
		background: #fff
		+reg
		line-height: 1.1  
	.icon-camera
		display: inline-block
		margin: 40px 0 0 
		font-size: 80px
		color: $border 
		
.pager
	a
		float: left
		margin-left: -1px
		min-width: 40px
		height: 40px
		line-height: 40px		
		text-align: center
		font-size: 14px
		+bold
		color: $text
		border: 1px solid $border  
		+tr(background .3s)
		&:hover
			background: $light 
		&.is-active
			color: $red 
			background: $light 
		&:last-child
			min-width: 60px
.accord
	border: 1px solid $border
	margin-bottom: -1px
	&_small
		border-left: 0
		border-right: 0
		&.is-open
			background: $light
		.accord__title
			padding: 10px 53px 10px 20px 
			font-size: 14px
			+bold
		.accord__body
			padding: 0 20px 
			border-top: 0 
			
	&.is-open
		.accord__title
			color: $red
			pointer-events: none 
			&:after
				+rotate(-180)
	&__title
		position: relative
		padding: 17px 53px 17px 20px 
		font-size: 18px
		color: $text
		cursor: pointer
		+tr(color .3s)
		+nosel
		&:hover
			color: $red 
			&:after
				will-change: transform
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 20px
			+tr(transform .3s)
			+arr(10,6,$red,b)
	&__body
		display: none	
		border-top: 1px solid $border 	
		.download
			&:first-child
				border: 0	
.download
	display: table
	width: 100%
	border-top: 1px solid $border
	font-size: 14px
	+reg
	color: $text 
	&_big
		border: 1px solid $border
		margin-bottom: -1px
		font-size: 18px
		.download__main
			padding: 18px 20px 
	&__main,
	&__action
		display: table-cell
		vertical-align: middle
	&__main
		padding: 11px 20px
		a
			color: $text
			+tr(color .3s)
			&:hover
				color: $red 
		span
			display: inline-block
			margin-right: 4px
			color: $gray_d
			+bold
			font-size: 18px 
	&__action
		text-align: right
		padding-right: 145px
		position: relative
		.btn
			position: absolute
			top: 0
			bottom: 0
			right: 0
			padding: 0
			text-align: center
			width: 125px
			height: 100%
			line-height: 1
			+vertical
			span
				vertical-align: middle
				padding: 0
				font-size: 14px
				color: #fff 
	&__info
		padding-right: 20px
		font-size: 12px
		+bold
		color: $gray_d 
.tabs
	margin: 20px 0 0 
	font-size: 0
	+counter(tabs)
	&__item
		position: relative
		display: inline-block
		margin: 0 20px 20px 0
		vertical-align: top
		width: 300px
		font-size: 12px
		+bold
		text-transform: uppercase
		background: $black
		+tr(background .3s)
		&:before
			position: absolute
			top: 50%
			left: 20px
			margin-top: -15px
			border: 2px solid #fff
			font-size: 15px
			width: 30px
			height: 30px
			border-radius: 50%
			text-align: center
			line-height: 26px 
			color: #fff 
		&:hover
			background: #000 
		&.is-active
			background: $red 
	&__link
		display: block
		padding: 14px 30px 14px 60px
		color: #fff 
.tabs_small
	.tabs__item
		margin: 0
		font-size: 14px
		text-transform: none
		width: auto
		&:before
			display: none
	.tabs__link
		padding: 0 65px
		text-align: center
		height: 40px
		line-height: 40px
.tabs_table
	display: table
	margin: 0 0 20px
	table-layout: fixed
	width: 100%
	.tabs__item
		display: table-cell
		vertical-align: middle
		width: auto
	.tabs__link
		padding: 0
.file-wrap
	float: left
	width: 300px
	margin-right: 20px
.file
	display: inline-block
	margin: 15px 0 
	vertical-align: top
	position: relative
	font-size: 18px
	+reg
	&:hover
		.file__name
			color: $red_d 
	.icon-file,
	&__main
		display: inline-block
		padding-left: 12px
		vertical-align: middle
	&__name
		display: block
		color: $red
		+tr(color .3s)
	&__info
		color: $gray_d 
.cols-wrap
	+clr
.col-left
	float: left
	+r(1600)
		float: none
.col-right
	float: right
	+r(1600)
		float: none
.col-big
	float: left
	width: 39%
	margin-left: 20px
	+r(1600)
		width: 49%
		margin-left: 2%
	&:first-child
		margin-left: 0
		+r(1600)
			margin-left: 0
.order-catalog
	position: relative
	width: 300px
	margin-bottom: 15px
	&__in
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		text-align: center
	.icon-envelope-letter
		margin-top: 20px
		display: inline-block
		font-size: 60px
		color: $red
	&__link
		position: absolute
		left: 65px
		right: 65px
		bottom: 23px
		line-height: 1.1
		a
			font-size: 18px
			color: $red 
			+tr(color .3s)
			&:hover
				color: $red_d 
.table-scroll
	margin: 0 0 20px
	width: 100%
	overflow-x: auto 
.table
	border: 1px solid $border
	font-size: 12px
	width: 100%
	+reg
	line-height: 1.7
	&_center
		text-align: center
		.prod-item
			text-align: left
	thead
		font-size: 12px
		text-transform: uppercase
		+bold
		font-weight: normal
		color: $border
		th
			padding: 11px 20px
		.to-left
			text-align: left
	tbody
		tr
			+tr(background .3s)
			&:hover
				background: $light 
		td
			padding: 18px 20px 
			vertical-align: middle
			border-top: 1px solid $border
			strong
				text-transform: uppercase 
	&__title
		+bold
	.icon-camera
		font-size: 40px
		color: $border 
.table_order
	font-size: 16px
	white-space: nowrap
	tbody
		tr
			&:hover
				background: none
			&:first-child
				td
					padding-top: 18px
			&:last-child
				td
					padding-bottom: 18px
		td
			border: 0
			padding: 0 80px 0 20px
			&:first-child
				width: 70%
			&:last-child
				text-align: right
	
.table_layout-fixed
	table-layout: fixed
	tbody
		td
			padding: 0 20px
			width: auto !important
	&.table_order
		min-width: 500px
		tbody
			td
				&:first-child
					width: 120px !important
.prod-item
	font-size: 0
	&__img,
	&__main	
		display: inline-block
		vertical-align: middle
	&__img
		max-width: 120px
		padding-right: 10px
		img
			max-width: 100%
	&__main
		span
			display: block
			color: $border
			font-size: 12px
			+bold
		a
			+link
			font-size: 18px
			span
				display: inline
				padding: 0 3px 
				margin-right: 4px
				+reg
				font-size: 18px
				background: $red
				color: #fff  
			
.price
	line-height: 1
	white-space: nowrap
	&__val
		font-size: 21px
		+bold
		color: $text
		.icon-rub
			margin-left: 3px
		.icon-rub-s,
		.icon-rub-m
			vertical-align: top
		.icon-rub-m
			margin: 5px 0 0 3px
		.icon-rub-s
			margin: 3px 0 0 3px
	&__title
		font-size: 12px
	&_small
		.price__val
			+reg
	&_big
		.price__val
			font-size: 30px
	&_red
		.price__val
			color: $red 
.number-title
	margin-bottom: 20px
	font-size: 16px
	color: $black 
.number
	position: relative
	display: inline-block
	border: 1px solid $border
	width: 146px
	font-size: 0
	white-space: nowrap
	&__input
		display: block
		padding: 0 43px 
		height: 38px
		width: 100%
		text-align: center
		font-size: 21px
		background: #fff 
		+bold
		+font
	&__plus,
	&__minus
		position: absolute
		top: 0
		width: 38px
		height: 38px
		color: #fff
		background: #fff
		+tr(background .3s)
		&:hover
			background: #fdfdfd
		&:active
			background: $light 
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -1px 0 0 -7px
			width: 14px
			height: 2px
			background: $red
	&__minus
		left: 0
		border-right: 1px solid $border 
	&__plus
		right: 0
		border-left: 1px solid $border 
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -7px 0 0 -1px
			width: 2px
			height: 14px
			background: $red
.number_width
	width: 100%
.btn-del
	display: inline-block
	width: 40px
	height: 40px
	background: $red
	+tr(background .3s)
	&:hover
		background: $red_d 
	&:after
		content: ""
		display: inline-block
		vertical-align: middle
		+s(del) 

.note-text
	position: relative
	padding: 20px 0 0 75px
	font-size: 12px
	+reg
	color: $gray_d
	&:before
		content: ""
		position: absolute
		top: 0
		left: 75px
		height: 1px
		width: 230px
		background: $border  

.table-title
	margin: 0 0 20px 
	font-size: 18px
	color: $black 
.table-info
	width: 100%
	color: $black 
	&_small
		width: 74%
		+r(1600)
			width: 100%
	th
		border-bottom: 1px solid $red
		padding: 10px 0 
		font-size: 14px
		+bold
		text-align: left
	td 
		padding: 10px 0 
		border-bottom: 1px solid $border
		
.toolbar
	display: table
	width: 100%
	margin: 0 0 20px 
	height: 40px
	table-layout: fixed
	&__left
		width: 370px
		.tabs
			margin: 0
			&__link
				width: 185px
				padding: 0
	&__left,
	&__center,
	&__right
		display: table-cell
		vertical-align: middle
	&__center
		border: 1px solid $border
	&__right
		text-align: right
		width: 80px
.sort-box
	text-align: right
	font-size: 0
	white-space: nowrap
	&__title
		display: inline-block
		vertical-align: middle
		margin-right: 10px
		font-size: 12px
		text-transform: uppercase
		+bold
		color: $gray 
.sort
	display: inline-block
	vertical-align: middle
	margin-right: -1px
	min-width: 97px
	text-align: left
	border-left: 1px solid $border
	border-right: 1px solid $border
	&:hover,
	&.is-active
		.sort__main
			color: $red 
	&__main
		cursor: pointer
		height: 38px
		line-height: 38px
		padding: 0 20px
		font-size: 14px
		color: $black
		+bold 
		+tr(color .3s)
		span
			display: inline-block
			position: relative
			&:after,
			&:before
				content: ""
				position: absolute
				right: -20px
			&:before
				top: 13px
				+arr(10,5,$gray_d,t)
			&:after
				bottom: 13px
				+arr(10,5,$gray_d,b)
.items-wrap
	margin-right: -4px
	+clr
	+r(1600)
		margin-right: -3px
	+r(1400)
		margin-right: -2px
	&_group
		margin-bottom: 35px
	&__title
		margin-bottom: 35px
		font-size: 24px
		color: $black 
.item
	position: relative
	float: left
	margin: 0 -1px -1px 0 
	border: 1px solid $border
	padding: 0 20px 20px 20px
	width: 20%
	height: 420px
	overflow: hidden
	+r(1600)
		width: 25%
	+r(1400)
		width: 33.3%
	&_back
		display: block
		padding-top: 20px
		background: $light 
		color: $black 
		+tr(color .3s)
		&:hover
			color: $red_d 
		.item__main
			height: 243px
			+vertical
			background: none 
			white-space: nowrap
			span
				display: inline-block
				vertical-align: middle
				line-height: 1.1
				font-size: 30px
				position: relative
				padding-left: 90px
				text-align: left
				white-space: normal
				&:before
					content: ""
					position: absolute
					top: 50%
					left: 0
					margin-top: -72px
					+svg(arr-back,89,153) 
	&__img	
		a
			display: block
			text-align: center
		img
			max-width: 100%
			height: auto
		.icon-camera
			display: inline-block
			margin-top: 35px
			font-size: 80px
			color: $gray 
	&__main
		position: absolute
		bottom: 20px
		left: 20px
		right: 20px
		background: #fff 
	&__meta
		display: table
		margin-bottom: 10px
		width: 100%
		span, strong
			display: table-cell
		span
			color: #ccc
			font-size: 12px
			+bold
		strong
			text-align: right
			text-transform: uppercase
	&__title
		font-size: 18px
		line-height: 1.1
		a
			color: $red
			+tr(color .3s)
			&:hover
				color: $black 

	&__action
		margin-top: 22px
		border-top: 1px solid $border
		padding-top: 20px
		+clr
		.wrap
			margin-top: 20px
			&:first-child
				margin-top: 0
		.number
			width: 100%
	&__left
		float: left
		padding-right: 20px
		width: 60%
	&__right
		overflow: hidden
		
.contacts
	margin-bottom: 15px
	border-bottom: 1px solid $border 
	padding-bottom: 20px
		
.map
	&__in
		height: 620px
	.gm-style-iw
		div
			overflow: visible !important
		+ div
			display: none
.map-window
	color: $black
	font-size: 14px
	&__head
		background: $light
		padding: 22px 20px
		margin: -8px -37px 0 -14px
		strong
			display: block
			+bold
	&__body
		margin: -8px -37px 0 -14px
		padding: 22px 20px 12px
		a
			+link

.address
	margin-bottom: 15px
	border-bottom: 1px solid $border 
	padding-bottom: 10px
	color: $black 
	&_no-border
		border: 0
	&__title
		margin-bottom: 24px
		font-size: 20px
		+reg
	&__text
		margin-bottom: 7px
		font-size: 16px
		line-height: 1.25
	&__info
		font-size: 14px
		li
			display: inline-block
			margin-left: 17px
			vertical-align: middle
			&:first-child
				margin-left: 0
		a
			+link
			i
				display: inline-block
				margin-right: 4px
				font-size: 20px
				vertical-align: middle
				color: $black 

.details
	font-size: 14px
	&__title
		margin-bottom: 20px
		font-size: 18px
	&__list
		margin-bottom: 20px
		

.select
	position: relative
	margin-bottom: 38px
	text-align: left
	&__main
		position: relative
		border: 1px solid $border
		padding: 0 40px 0 20px 
		height: 40px
		line-height: 40px
		font-size: 14px
		+bold
		color: $red
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 15px
			margin-top: -3px 
			+arr(10,6,$red,b)
	select
		position: absolute
		z-index: 2
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0
		max-height: 200px
.select_small
	margin-bottom: 22px
	.select__main
		padding: 0 30px 0 10px 
		height: 30px
		line-height: 30px
		color: $gray_d 	
		+reg
.contact
	font-size: 14px
	margin-bottom: 20px
	a
		+link

.file-include
	position: relative
	display: block
	background: #fff
	border: 1px solid $border
	height: 40px
	line-height: 40px
	+tr(background .3s)
	cursor: pointer
	&:hover
		background: #fdfdfd
	.icon-doc
		position: absolute
		left: 9px
		top: 11px
		color: $black
		font-size: 14px 
	span
		display: inline-block
		padding-left: 30px
		color: $red 
.radio-wrap
	margin-bottom: 20px	
.radio
	position: relative
	display: inline-block
	font-size: 14px
	+reg
	cursor: pointer
	+ .btn
		margin-top: 22px
	input
		position: absolute
		z-index: 2
		opacity: 0
		&:checked
			+ span
				+bold
				i
					&:before
						display: block
	span
		display: block
		position: relative
		padding-left: 30px
		i
			position: absolute
			top: 0
			left: 0
			width: 20px
			height: 20px
			background: #fff
			border: 1px solid $border
			border-radius: 50% 
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
				margin: -5px 0 0 -5px 
				width: 10px
				height: 10px
				background: $red 
				border-radius: 50% 
				display: none

.total
	border-top: 1px solid $border
	padding-top: 10px
	text-align: right
	font-size: 16px
	color: $black
	&__title,
	.price
		display: inline-block
		vertical-align: middle

.item-number
	padding-bottom: 20px
	font-size: 16px
	strong
		+bold
.fotorama
	border-top: 1px solid $border
.product-item
	position: relative
	margin-bottom: 30px
	height: 980px
	overflow: hidden
	&.is-open
		height: auto
		padding-bottom: 70px
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 10px
		right: 10px
		z-index: 2
		pointer-events: none
		height: 100px
		border-bottom: 1px solid $border 
		+g(rgba(#fff,0),rgba(#fff,1) 80%)
	.fotorama
		margin-bottom: 30px
	&__more
		position: absolute
		bottom: 11px
		left: 0
		z-index: 2
		width: 100%
		+reg
		background: none
		color: $black 
		+tr(color .3s)
		&:hover
			color: $red 
		span
			display: inline-block
			border-bottom: 1px dashed 
			font-size: 14px
			
.article
	font-size: 14px
	color: $black
	+reg
	line-height: 1.4
	h2
		margin-bottom: 35px
		font-weight: normal
		font-size: 24px
	h3
		margin-bottom: 15px
		font-weight: normal
		font-size: 18px
	p
		margin-bottom: 18px
	ul
		li
			position: relative
			padding-left: 12px
			&:before
				content: "•" 
				position: absolute
				left: 0
				top: 2px

.tabs-box
	border: 1px solid $border
	padding: 0 20px 10px
	background: $light 
.tabs-list
	display: table
	margin-bottom: 13px
	border-bottom: 1px solid $border 
	width: 100%
	font-size: 24px
	table-layout: fixed
	li
		display: table-cell
		vertical-align: middle
	a
		display: inline-block
		position: relative
		border-bottom: 3px solid transparent
		padding: 13px 0 
		color: $text 
		&:hover
			color: $red_d 
		&:after
			content: ""
			position: absolute
			left: 0
			width: 0
			bottom: -4px
			height: 3px 
			background: none
			+tr(width .3s)
		&.is-active
			&:after
				background: $red 
				width: 100%
.tabs-list_small
	font-size: 18px
	a
		padding: 4px 0 
		&:after
			height: 2px
.table-list
	font-size: 14px
	li
		padding: 15px 0 
		+clr
		> div
			float: left
			width: 50%
			&:last-child
				text-align: right
.table-list_small
	color: $gray_d
	li
		padding: 0 
	strong
		color: $black 
		font-size: 16px	
.widget
	position: relative
	overflow: hidden
	margin-bottom: 20px
	height: 500px
	border: 1px solid $border
	&_mod
		.widget__body
			bottom: 80px
		.widget__footer
			height: 80px
			line-height: 80px
			padding: 0 20px 
	&__in
		padding: 10px 20px
	&__head
		padding: 0 20px 
		height: 60px
		line-height: 60px
		border-bottom: 1px solid $border 
	&__title
		font-size: 24px
	&__body
		position: absolute
		top: 60px
		bottom: 180px
		left: 0
		right: 0
		.accord
			&:first-child
				border-top: 0
	&__scroll
		height: 100%
		margin-right: -20px
		padding-right: 20px
		overflow-y: auto
	&__footer
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 180px
		border-top: 1px solid $border
		padding: 20px 
		.btn
			margin-top: 20px
			i
				position: absolute
				left: 15px
				top: 8px
.currency
	white-space: nowrap
	&__title,
	&__val
		display: inline-block
		vertical-align: middle
	&__title
		color: $gray_d
		font-size: 14px
	&__val
		margin-left: 10px
		font-size: 18px
		+bold
		color: $red  
		i
			margin-right: 4px
			
.link-icon
	display: inline-block
	vertical-align: middle
	color: $black
	font-size: 16px
	+bold
	+tr(color .3s)
	line-height: 1.25
	white-space: nowrap
	&:hover
		color: $red
	i, span
		vertical-align: middle
		display: inline-block
	i
		font-size: 30px
		color: $red 
	span
		padding-left: 20px
		white-space: normal
		

.file-item
	display: table
	border-top: 1px solid $border 
	width: 100%
	&__main
		display: table-cell
		vertical-align: middle
		padding: 10px 0 
		font-size: 14px
		color: $black 
		i
			vertical-align: bottom
			margin-right: 7px
	&__meta
		display: table-cell
		vertical-align: middle
		text-align: right
		font-size: 12px
		+bold
		color: $gray_d 