.footer
	.l-center
		.footer__meta Copyright 2007 ЗАО "Связьстройдеталь" 
		.footer__info 
			| Разработка сайта 
			a(href="#") — 
				span qb-interactive
				i.qb-logo

script(src="js/lib/head.js",data-headjs-load="js/init.js")