header.header
	.header__top
		.l-center
			a.header__logo(href="#")
			ul.header__list.header__nav
				li
					a(href="#")
						i.i-logo
						| О компании
				li
					a(href="#")
						i.i-login
						| Авторизация
				li
					a(href="#")
						i.i-cart
						| Пока ничего не заказано
			ul.header__list.header__info
				li.header__tel
					a(href="tel:+7 (495) 786-34-34")
						| +7 (495) 786-34-34
				li
					a(href="#")
						i.icon-clock
						| Режим работы
				li
					a(href="#")
						i.i-pin
						| Контакты
	.header__main
		.l-center
			a.header__catalog(href="#") 
				i.icon-notebook
				|Каталог продукции
			.header__search
				.search
					.search__input
						input(type="text" placeholder="Поиск")
					.search__btn
						button(type="submit") Найти