.popup.popup_width.js-popup.js-popup-work
	.popup__head Режим работы
	.popup__body
		.popup__inner
			.popup__row
				.row
					.col.col_12
						.address.address_no-border
							.address__title Москва
							.address__text 
								| ЗАО «СВЯЗЬСТРОЙДЕТАЛЬ» 115088, 
								br
								| г. Москва, ул. Южнопортовая, 7а.
					.col.col_12
						a.btn(href="#") Филиалы
			.popup__row
				.row
					.col.col_12
						ul.contact
							li 
								strong ООО «Прогресс»
							li +7 (495) 783-18-78
							li 
								a(href="#") www.progress-msk.ru
							li 
								a(href="#") progressmsk@yandex.ru
					.col.col_12
						ul.contact
							li 
								strong Режим работы отдела продаж
							li понедельник – пятница: с 7.00 до 18.00 
							li 
								strong Режим работы склада готовой продукции 
							li понедельник – пятница: с 7:00 до 20:30 
							li 
								strong Режим работы склада ЖБИ 
							li понедельник – пятница: с 7:00 до 23:00 
			.popup__row
				.row
					.col.col_12
						ul.contact
							li 
								strong Учебный центр
							li +7 (495) 786-34-42   
							li 
								a(href="#") volkova@ssd.ru
								| , 
								a(href="#") potapov@ssd.ru
					.col.col_12
						ul.contact
							li 
								strong Режим работы
							li понедельник – пятница: с 8.00 до 17.00 
			.popup__row
				.row
					.col.col_12
						ul.contact
							li 
								strong Секретариат
							li +7 (495) 786-34-43    
							li 
								a(href="#") ref@ssd.ru 
					.col.col_12
						ul.contact
							li 
								strong Режим работы
							li понедельник – пятница: с 9.00 до 17.00 

	button.popup__close.js-close-popup(type="button")