.main__sidebar
	ol.nav.js-accord
		li.is-open
			a(href="#").js-accord-toggle Линейные и стационарные сооружения связи
			ol.js-accord-list(style="display:block")
				li
					a(href="#") Муфты для оптических кабелей

				li
					a(href="#") Продукты и решения для ВОЛС (станционная сторона)

				li
					a(href="#") Продукты и решения для ВОЛС (сторона абонента)

				li
					a(href="#") Оборудование для ВОЛС специального назначения

				li
					a(href="#") Приборы, инструменты для работы с ОК

				li
					a(href="#") Арматура для подвески оптических кабелей

				li
					a(href="#") Оптические кабели связи
		li
			a(href="#").js-accord-toggle Монтаж и измерения электрических кабелей связи
			ol.js-accord-list
				li
					a(href="#") Муфты для оптических кабелей

				li
					a(href="#") Продукты и решения для ВОЛС (станционная сторона)

				li
					a(href="#") Продукты и решения для ВОЛС (сторона абонента)

				li
					a(href="#") Оборудование для ВОЛС специального назначения

				li
					a(href="#") Приборы, инструменты для работы с ОК

				li
					a(href="#") Арматура для подвески оптических кабелей

				li
					a(href="#") Оптические кабели связи
		li
			a(href="#").js-accord-toggle Монтаж и измерения оптических кабелей связи
			ol.js-accord-list
				li
					a(href="#") Муфты для оптических кабелей

				li
					a(href="#") Продукты и решения для ВОЛС (станционная сторона)

				li
					a(href="#") Продукты и решения для ВОЛС (сторона абонента)

				li
					a(href="#") Оборудование для ВОЛС специального назначения

				li
					a(href="#") Приборы, инструменты для работы с ОК

				li
					a(href="#") Арматура для подвески оптических кабелей

				li
					a(href="#") Оптические кабели связи
	.js-tabs(data-tabs-group="js-group-1")
		a.promo-link.is-active(href="#tab-help")
			span
				i.icon-set
			| Техническая помощь
		a.promo-link(href="#tab-pricelist")
			span
				i.icon-pricelist
			| Прайс-лист
		a.promo-link(href="#tab-delivery")
			span
				i.icon-delivery
			| Доставка