doctype
html

	head
		include _head.jade
		title delivery
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Контакты
					.row.contacts
						.col.col_3
							ul.tabs.tabs_small.tabs_table
								li.tabs__item.is-active
									a(href="#").tabs__link 
										| Москва
								li.tabs__item
									a(href="#").tabs__link 
										| Санкт-петербург
								li.tabs__item
									a(href="#").tabs__link 
										| Новосибирск
								li.tabs__item
									a(href="#").tabs__link 
										| Екатеринбург
								li.tabs__item
									a(href="#").tabs__link 
										| Нижний Новгород
								li.tabs__item
									a(href="#").tabs__link 
										| Краснодар
							.map
								.map__in(id="map")
								script.
									(function(){
										var map;
										function initialize() {
											// Create an array of styles.
											
											var mapOptions = {
												zoom: 16,
												scrollwheel: true,
												center: new google.maps.LatLng(55.708372, 37.691622),
												mapTypeControl: false,
												zoomControl: true,
											    zoomControlOptions: {
											      style: google.maps.ZoomControlStyle.SMALL
											    }
											};
											map = new google.maps.Map(document.getElementById('map'),mapOptions);
											var image = new google.maps.MarkerImage('img/marker.png');
											var myLatLng = new google.maps.LatLng(55.708372, 37.691622);
											var marker = new google.maps.Marker({
												position: myLatLng,
												map: map,
												title: 'ЗАО «СВЯЗЬСТРОЙДЕТАЛЬ»', 
												icon: image,
												id: 'marker1'
											});
										    var contentString =	'<div class="map-window">'
													+'<div class="map-window__head"><strong>ЗАО «СВЯЗЬСТРОЙДЕТАЛЬ»</strong>115088, г. Москва, ул. Южнопортовая, 7а.</div>'
													+'<div class="map-window__body">'
													+'<p>+7 (495) 786-34-34 (многоканальный) </p>'
													+'<p>+7 (495) 786-34-32 (факс) </p>'
													+'<p><a href="mailto:mail@ssd.ru">mail@ssd.ru</a></p>'
													+'</div>'+
												'</div>';
										  	var infowindow = new google.maps.InfoWindow({
											    content: contentString
											});
											infowindow.open(map,marker);
										}
										google.maps.event.addDomListener(window, 'load', initialize);
									})();
						.col.col_2
							.address
								.address__title Москва
								.address__text 
									| ЗАО «СВЯЗЬСТРОЙДЕТАЛЬ» 115088, 
									br
									| г. Москва, ул. Южнопортовая, 7а.
								ul.address__info
									li
										a(href="#") 
											i.icon-clock
											| Режим работы
									li
										a(href="#")
											i.icon-compass
											| Схема проезда
							.details
								.details__title Банковские реквизиты
								ul.details__list
									li 
										strong В Сбербанке России
									li ЗАО «СВЯЗЬСТРОЙДЕТАЛЬ», 
									li Московский банк, Сбербанк России ОАО, г. Москва 
									li Р/с 40702810238250102200 
									li К/с 30101810400000000225 
									li ИНН 7723005557 
									li БИК 044525225 
									li КПП 772301001 
									li Код по ОКВЭД 26.61; 51.53.24; 51.54.3; 51.55; 51.65.5 
									li Код по ОКПО 27564371.
								ul.details__list
									li 
										strong В ОАО «МИнБ»
									li г. Москва 
									li Р/с 40702810900080000618 
									li К/с 30101810300000000600 
									li ИНН 7723005557 
									li БИК 044525600 
									li КПП 772301001 
									li Код по ОКВЭД 26.61; 51.53.24; 51.54.3; 51.55; 51.65.5 
									li Код по ОКПО 27564371.
					.page-title Дистрибьюторская сеть
					.row
						.col.col_1
							.select.js-select
								.select__main.js-select-text Москва
								select
									option(value="Москва") Москва
									option(value="Санкт-петербург") Санкт-петербург
									option(value="Новосибирск") Новосибирск
									option(value="Екатеринбург") Екатеринбург
									option(value="Нижний Новгород") Нижний Новгород
									option(value="Краснодар") Краснодар
					.row.row_inline
						.col_4
							.col.col_14
								ul.contact
									li 
										strong ООО «Прогресс»
									li +7 (495) 783-18-78
									li 
										a(href="#") www.progress-msk.ru
									li 
										a(href="#") progressmsk@yandex.ru
							.col.col_14
								ul.contact
									li 
										strong ООО «Ритм-2»
									li +7 (495) 797-90-34
									li +7 (495) 170-04-74
									li +7 (495) 371-91-12
									li 
										a(href="#") www.ritm-2.ru
									li 
							.col.col_14
								ul.contact
									li 
										strong ООО «СТМ»
									li +7 (495) 971-22-59
									li +7 (495) 450-22-79
									li 
										a(href="#") www.stm-telecom.ru
									li 
										a(href="mailto:stm@stm-telecom.ru") stm@stm-telecom.ru
							.col.col_14
								ul.contact
									li 
										strong  ООО «СВЯЗЬСТРОЙКОМПЛЕКТ» 
									li +7 (495) 788-01-23 доб.5398
									li +7 (495) 788-01-23 доб.5345
									li 
										a(href="#") www.svstk.ru
									li 
										a(href="mailto:ssk-ltd@mail.ru") ssk-ltd@mail.ru
							.col.col_14
								ul.contact
									li 
										strong ООО «АБН»
									li +7 (495) 995-10-10
									li +7 (495) 960-23-23
									li 
										a(href="#") abn.ru
									li 
										a(href="mailto:inf@abn.ru") inf@abn.ru
							.col.col_14
									ul.contact
										li 
											strong  ООО «Снабкомплект»
										li +7 (499) 707-14-11
										li 
											a(href="#") www.c-a-v.ru
										li 
											a(href="mailto:info@m-s-c.ru") info@m-s-c.ru


			.push
		include _footer.jade