doctype
html

	head
		include _head.jade
		title delivery
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Условия доставки до клиента
						.cols-wrap
							.col-big
								ul.list-counter.list-counter_static
									li
										p 
											| Доставка заказа стоимостью свыше 50 000 рублей 
											br
											|в пределах МКАД (+ 5км за МКАД) — 
											strong бесплатно.**
										p При доставке за МКАД свыше + 5 км. к стоимости услуг 30 руб. за км. в оба конца
									li
										p 
											| Доставка заказа стоимостью ниже 50 000 рублей — 
											strong 600 руб. 
											br
											| в пределах МКАД (+ 5км за МКАД). 
										p При доставке за МКАД свыше + 5 км. к стоимости услуг 30 руб. за км. в оба конца
									li
										p Доставка заказа стоимостью свыше 100 000 рублей , в любой день 
											| (в т.ч. в выходные дни), по Москве и московской области — 
											strong бесплатно.**

									li 
										p Доставка до Транспортной компании п.1. и п.3 — 
											strong бесплатно.** ; п.2 — 
											strong 600 руб.
								.note-text
									p * —  Доставка осуществляется до «подъезда» и не включает в себя услуги по разгрузке и подъему товара. 
									p ** — Бесплатная доставка не распространяется на продукцию ЖБИ
							.col-big
								.table-wrap
									.table-title Доставка заказов осуществляется до следующих транспортных компаний :
									table.table-info.table-info_small
										thead
											tr
												th Транспортная компания
												th График отправок
										tbody
											tr
												td ООО «Автотрейдинг»
												td Каждый день
											tr
												td ООО «Автотрейдинг»
												td Каждый день
											tr
												td ООО «Автотрейдинг»
												td Каждый день
											tr
												td ООО «Автотрейдинг»
												td Каждый день
											tr
												td ООО «Автотрейдинг»
												td Каждый день
											tr
												td ООО «Автотрейдинг»
												td Каждый день
											tr
												td ООО «Автотрейдинг»
												td Каждый день
				img.main__img(src="img/car4.jpg", alt="img")
			.push
		include _footer.jade