doctype
html

	head
		include _head.jade
		title manuals
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Инструкции
					ul.tabs
						li.tabs__item
							a(href="#").tabs__link 
								| Линейные и станционные сооружения связи
						li.tabs__item
							a(href="#").tabs__link 
								| Монтаж и измерение электрических кабелей связи
						li.tabs__item.is-active
							a(href="#").tabs__link 
								| Монтаж и измерение оптических кабелей связи

					.js-accord-group
						.accord.js-accord.is-active
							.accord__title.js-accord-toggle 
								| Муфты для оптических кабелей
							.accord__body.js-accord-list(style="display:block")
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Продукты и решения для волоконно-оптических сетей (станционная сторона)
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Продукты и решения для распределительных сетей (сторона абонента)
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Оборудование для ВОЛС специального назначения
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Приборы, инструменты и приспособления для работы с ОК
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Оптические кабели связи
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span.download__info PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#")
												span Скачать
								
				
			.push
		include _footer.jade