doctype
html

	head
		include _head.jade
		title Subcat
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Муфты для оптических кабелей
					.cats-wrap
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat1.png", alt="img")
								.cat__title
									| Муфты оптические городские типа МОГ
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat1.png", alt="img")
								.cat__title
									| Муфты оптические городские типа МОГ
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat1.png", alt="img")
								.cat__title
									| Муфты оптические городские типа МОГ
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat1.png", alt="img")
								.cat__title
									| Муфты оптические городские типа МОГ
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat1.png", alt="img")
								.cat__title
									| Муфты оптические городские типа МОГ
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat2.png", alt="img")
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
						.cat
							a.cat__in(href="#")
								.cat__img
									img(src="img/cat1.png", alt="img")
								.cat__title
									| Муфты оптические городские типа МОГ
						.cat.is-empty-img
							a.cat__in(href="#")
								.cat__img
									i.icon-camera
								.cat__title
									| Изделия для сращивания, защиты и укладки оптических волокон
			.push
		include _footer.jade