doctype
html

	head
		include _head.jade
		title Subcat 2
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-action
							.pager
								a(href="#") 20
								a(href="#") 50
								a(href="#") 100
								a.is-active(href="#") Все
						.page-title Изделия для сращивания, защиты и укладки оптических волокон
						.items-wrap
							a.item.item_back(href="#")
								.item__img
									img(src="img/img-back.png", alt="img")
								.item__main
									span Вернуться 
										br
										| в раздел
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										i.icon-camera
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
							.item
								.item__img
									a(href="#")
										img(src="img/item1.jpg", alt="img")
								.item__main
									.item__head
										.item__meta
											span 120230-45
											strong На складе
										.item__title
											a(href="#") Комплект кассеты К24-4525 (стяжки, маркеры, КДЗС 30 шт.)
									.item__action
										.wrap
											.item__left
												.price.price_big
													.price__val 195,00
														i.icon-rub-m
											.item__right
												.price.price_small
													.price__title Цена с НДС
													.price__val 262,88
														i.icon-rub-s
										.wrap
											.item__left
												.number.js-number(data-max-number="100")
													button.number__minus.js-minus-number(type="button")
													input.number__input(type="text", value="5", maxlength="3")
													button.number__plus.js-plus-number(type="button")
											.item__right
												a.btn.btn_width.btn_basket(href="#")
													i.icon-basket
			.push
		include _footer.jade