doctype
html

	head
		include _head.jade
		title Videos
	body
		.out
			include _header.jade
			.main
				include _sidebar.jade	
				.main__content
					.page-head
						.page-title Видеоинструкции
					.js-accord-group
						.accord.js-accord.is-active
							.accord__title.js-accord-toggle 
								| Муфты для оптических кабелей
							.accord__body.js-accord-list(style="display:block")
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Продукты и решения для волоконно-оптических сетей (станционная сторона)
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Продукты и решения для распределительных сетей (сторона абонента)
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Оборудование для ВОЛС специального назначения
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Приборы, инструменты и приспособления для работы с ОК
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
						.accord.js-accord
							.accord__title.js-accord-toggle 
								| Оптические кабели связи
							.accord__body.js-accord-list
								ul.download-wrap
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
									li.download
										.download__main 
											a(href="#") Видеоинструкция ВОКС-Ф
										.download__action
											span PDF 541,45 КБ
											a.btn.btn_small.btn_dark(href="#") Скачать
								
					
			.push
		include _footer.jade